$icons: (
  youtube: url('../img/icons/icon_youtube.svg'),
  github: url('../img/icons/icon_github.svg'),
  twitter: url('../img/icons/icon_twitter.svg'),
  medium: url('../img/icons/icon_medium.svg'),
  announcement: url('../img/icons/icon-announcement.svg'),
  chevron-down: url('../img/icons/icon-chevron-down.svg'),
  math: url('../img/icons/icon-math.svg'),
  data: url('../img/icons/icon-data.svg'),
  code: url('../img/icons/icon-code.svg'),
  close: url('../img/icons/icon-close.svg'),
  play-button: url('../img/icons/icon-play-button.svg')
);
