// ==========================================================================
// = Global Variables
// ==========================================================================

// Colors
// =============


//////////////
// Palette ///
//////////////

// Base
$color-systemml-primary         : #2a416a;
$color-systemml-secondary       : #80bfc2;
$color-systemml-tertiary        : #67af7c;

// Grays
$color-gray-70                  : #3c4646;
$color-gray-60                  : #5a6464;
$color-gray-50                  : #6d7777;
$color-gray-40                  : #959f9f;
$color-gray-30                  : #aeb8b8;
$color-gray-20                  : #c8d2d2;
$color-gray-10                  : #dfe9e9;

$color-cool-20                  : #f9f9fb;


$color-white                    : #ffffff;
$color-black                    : #000000;

// Active Colors
$color-active--darker           : #4178be;
$color-active                   : #5596e6;
$color-active--lighter          : #5aaafa;

$color-active-dark--darker      : darken($color-systemml-tertiary, 10%);
$color-active-dark              : $color-systemml-tertiary;
$color-active-dark--lighter     : lighten($color-systemml-tertiary, 10%);

// Accent Colors
$color-systemml-accent          : #b6d281;
$color-systemml-accent-dark     : darken($color-systemml-accent, 30%);

//////////////
// Elements //
//////////////

// Type Colors
$color-text                     : $color-gray-70;
$color-text-dark                : $color-cool-20;

// Link colors
$color-link                     : $color-active-dark;
$color-link-hover               : $color-active-dark--darker;
$color-link-active              : $color-active-dark--lighter;

// Button colors
$color-button-light             : $color-active-dark--lighter;
$color-button                   : $color-active-dark;
$color-button-dark              : $color-active-dark--darker;

$color-button-disabled          : $color-gray-30;
$color-button-dark-disabled     : $color-gray-50;

// Shadow
$shadow-color                   : rgba(0, 0, 0, .1);
$shadow-default                 : 0 2px 2px 0 $shadow-color; //double check this
$shadow-toggle-color            : rgb(77, 144, 254);
$shadow-toggle                  : 0 0 5px 2px $shadow-toggle-color; // #4D90FE
$shadow-checkbox-color          : rgba(77, 144, 254, .5);

// Gradients
$gradient-light                 :repeating-linear-gradient(45deg, $color-gray-20, $color-gray-20 2px, $color-gray-30 2px, $color-gray-30 8px);
$gradient-dark                  :repeating-linear-gradient(45deg, $color-gray-60, $color-gray-60 2px, $color-gray-50 2px, $color-gray-50 8px);


///////////////
// Utilities //
///////////////


// Base Sizes
// ==========

$base-font-size                 : 16px;
$large-font-size                : 22px;

$base-line-height               : 1.68;

// Font Stacks
// ===========

$font-family-default            : 'Helvetica Neue for IBM', 'Helvetica Neue', Helvetica, Arial, Roboto, sans-serif;
$font-family-monospace          : 'Source Code Pro', Lucida Console, Andale Mono, monospace;

// Font Weights
// ============

$font-weight-light              : 300;
$font-weight-medium             : 400;
$font-weight-roman              : 500;
$font-weight-bold               : 700;


// Transitions
// ============

$transition-default             : all .2s ease-in-out;
$transition-nav                 : all .25s ease-in-out;

// Used for Drop Downs
$ibm-bezier                     : cubic-bezier(.5, .08, 0, 1);

$button-speed                   : $transition-default;
$button-speed--faster           : all .1s ease-in-out;

//Breakpoints
//=============

$bp-small                       : 30em; // changed from 21em;
$bp-medium                      : 64em;
$bp-large                       : 90em;
